﻿extends layout

block extraHeader
  script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript').
    var socket = io();
    socket.emit('stream.setup', '1001');
    socket.on('message', function(data) {
        console.log(data);
        $('<li></li>').text(data).appendTo('#messages');
    });

block content
  h1= title
  ul(id='messages')